<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <!--用户控制器-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--市场活动控制器-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/xxx.do</url-pattern>
  </servlet-mapping>

  <!--报告模块控制器-->
  <servlet>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/workbench/Report_wtt/save.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_data.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/pageList.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_datalist.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_datalist2.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_dictionary.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/pageList_review.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_report.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_report0.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/pass.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/reject.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_age_gender.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_data_from_studyInfo.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/updateReport.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/get_disease_dictionary.do</url-pattern>
    <url-pattern>/workbench/Report_wtt/printReport.do</url-pattern>
    <url-pattern>/xxx4</url-pattern>

  </servlet-mapping>
  
</web-app>
































